fastapi
uvicorn
pandas
python-multipart
requests
pydantic-settings
faker
langchain
langchain-community
chromadb
sentence-transformers
pypdf
python-docx
python-pptx
moviepy
SpeechRecognition
pydub
markdown2
